
<div class="container">
  <div class="row">
    <div class="col-md-7">
        <h1>Tabla de posiciones</h1>
        <table class="table table-condensed table-bordered table-hover">
            <tr>
              <th>Seleccion</th>
              <th>Partidos Jugados</th>
              <th>Puntos</th>
            </tr>
            <tr *ngFor="let item of this.tabla2" >
                <td>{{item.seleccion}}</td>
                <td>{{item.partidos}}</td>
                <td>{{item.puntos}}</td>
            </tr>
          </table>
    </div>

    <div class="col-md-5" >
      <h1>Proxima Fecha</h1><br>
      <h4>PARAGUAY VS VENEZUELA</h4>
      <div class="" >
          <table class="table-condensed table-bordered" style="width: 300px;">
              <tr class="text-center">
                  <th>Paraguay</th>
                  <th>Empate</th>
                  <th>Venezuela</th>
              </tr>
              <tr class="text-center">
                <td>  
                  <div class="checkbox container-fluid">  
                      <label class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="checkPar" (click)="cambiaTablaGanador('Paraguay','Venezuela')" type="checkbox">
                        <span class="text-center  custom-control-indicator"></span>
                      </label>
                  </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkEPV" (click)="cambiaTablaEmpate('Paraguay','Venezuela')" type="checkbox">
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkVen" (click)= "cambiaTablaGanador('Venezuela','Paraguay')" type="checkbox">
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
              </tr>
    
          </table>
          <br>
          
          <h4>BRASIL VS CHILE</h4>
          <table class="table-condensed table-bordered" style="width: 300px;">
              <tr class="text-center">
                  <th>Brasil</th>
                  <th>Empate</th>
                  <th>Chile</th>
              </tr>
              <tr class="text-center">
                <td>  
                  <div class="checkbox container-fluid">  
                      <label class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="checkBra" (click)="cambiaTablaGanador('Brasil','Chile')" type="checkbox"> 
                        <span class="text-center  custom-control-indicator"></span>
                      </label>
                  </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkEBraCo" (click)="cambiaTablaEmpate('Brasil','Chile')" type="checkbox"> 
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkCo" (click)= "cambiaTablaGanador('Chile','Brasil')" type="checkbox">
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
              </tr>
    
          </table>
          <br>
          
          <h4>ECUADOR VS ARGENTINA</h4>
          <table class="table-condensed table-bordered" style="width: 300px;">
              <tr class="text-center">
                  <th>Ecuador</th>
                  <th>Empate</th>
                  <th>Argentina</th>
              </tr>
              <tr class="text-center">
                <td>  
                  <div class="checkbox container-fluid">  
                      <label class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="checkEcu" (click)="cambiaTablaGanador('Ecuador','Argentina')" type="checkbox"> 
                        <span class="text-center  custom-control-indicator"></span>
                      </label>
                  </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkEA" (click)="cambiaTablaEmpate('Ecuador','Argentina')" type="checkbox"> 
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkArg" (click)= "cambiaTablaGanador('Argentina','Ecuador')" type="checkbox">
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
              </tr>
    
          </table>
          <br>
          
          <h4>URUGUAY VS BOLIVIA</h4>
          <table class="table-condensed table-bordered" style="width: 300px;">
              <tr class="text-center">
                  <th>Uruguay</th>
                  <th>Empate</th>
                  <th>Bolivia</th>
              </tr>
              <tr class="text-center">
                <td>  
                  <div class="checkbox container-fluid">  
                      <label class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="checkU" (click)="cambiaTablaGanador('Uruguay','Bolivia')" type="checkbox"> 
                        <span class="text-center  custom-control-indicator"></span>
                      </label>
                  </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkUB" (click)="cambiaTablaEmpate('Uruguay','Bolivia')" type="checkbox"> 
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkBo" (click)= "cambiaTablaGanador('Bolivia','Uruguay')" type="checkbox">
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
              </tr>
    
          </table>
          <br>
          
          <h4>PERU VS COLOMBIA</h4>
          <table class="table-condensed table-bordered" style="width: 300px;">
              <tr class="text-center">
                  <th>Peru</th>
                  <th>Empate</th>
                  <th>Colombia</th>
              </tr>
              <tr class="text-center">
                <td>  
                  <div class="checkbox container-fluid">  
                      <label class="custom-control custom-checkbox">
                          <input class="custom-control-input" id="checkPer" (click)="cambiaTablaGanador('Peru','Colombia')" type="checkbox">
                        <span class="text-center  custom-control-indicator"></span>
                      </label>
                  </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkEPC" (click)="cambiaTablaEmpate('Peru','Colombia')" type="checkbox"> 
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox container-fluid">  
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="checkCo" (click)= "cambiaTablaGanador('Colombia','Peru')" type="checkbox">
                          <span class="text-center  custom-control-indicator"></span>
                        </label>
                    </div>
                </td>
              </tr>
    
          </table>

      </div>
          
    </div>
    

  </div>
</div>


<script>
    // Initialize tooltip component
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    
    // Initialize popover component
    $(function () {
      $('[data-toggle="popover"]').popover()
    });
</script>

